<%= form_tag "/guess_number_form_result_url", method: :post do %>
<!-- <form action="/form_result_url" method="post"> -->
  <div>
    Enter Number: <input type="text" name="number">
  </div>
  <input type="submit" value="Submit Guess">

<!-- </form> -->
<% end %>
